.work {
    height: 100vh;
    padding: 5rem 2rem;
}
.bold {
    font-weight: 700;
}
.workTitle h2 {
    text-transform: uppercase;
    font-weight: 400;
}
.workTitle h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
@media(min-width: 1024px) {
    .workTitle h2 {
        font-size: 3rem;
    }
    .workTitle h3 {
        font-size: 2rem;
    }
}
.worksList {
    margin-top: 2rem;
}
.worksList h4 {
    font-size: 1.5rem;
    font-weight: 500;
}
.worksList a {
    color: #776B5D;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease; 
    padding-left: 2rem;
}
.worksList a:hover {
    color: #100e0c;
    transform: scale(1.3);
    transform-origin: center;
}
.customLine {
    border-top: 1px solid #000; /* Adjust thickness and color as needed */
    margin: 20px 0; /* Adjust margin for spacing */
    min-width: 300px;
    max-width: 600px;
}